html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, p, a, a:visited ul, li, button, input {
color: black;
font-size: 1.8rem;
padding: 0;
margin: 0;
}

.wrapper {
width: 90%;
max-width: 1400px;
margin: 0 auto;
}

img {
    display: block;
}

.img-container {
max-width: 100%;
display: block;
}

.piplup-icon {
    width: 48px;
}