.search-result {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 32px;
}

.search-result-card {
    height: 300px;
    cursor: pointer;
}

.search-result-card img {
    height: 100%;
    box-shadow: var(--shadow-small);
    transition: all 0.15s ease-in;
    border-radius: 12px;
}

.search-result-card img:hover,
.search-result-card img:focus {
    transform: scale(1.08);
    box-shadow: var(--shadow-large);
}