.search-result {
    margin-top: 54px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 24px;
}

.search-result-card {
    height: 256px;
}

.search-result-card img {
    height: 100%;
}