.top-nav {
    padding: 16px 0;
    /* background-color: black; */
    /* background-color: var(--primary) */
}

.top-nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav ul {
    display: flex;
align-items: center;
gap: 40px;
}